<form {{action 'save' task on='submit'}}>
  <label for="taskTitle" class="{{if errors.title 'error'}}">
    Title
    {{input id="taskTitle" class="text-input" value=task.title}}
  </label>

  {{#each errors.title as |error|}}
    <small class="error">*{{error.message}}</small>
  {{/each}}

  <label for="taskDescription" class="{{if errors.description 'error'}}">
    Description
    {{textarea id="taskDescription" value=task.description}}
  </label>

  {{#each errors.description as |error|}}
    <small class="error">*{{error.message}}</small>
  {{/each}}

  <button class="btn">Save</button>
</form>
