<form {{action 'save' project on='submit'}}>
  <label for="projectName" class="{{if errors.name 'error'}}">
    Name
    {{input id="projectName" class="text-input" value=project.name}}
  </label>

  {{#each errors.name as |error|}}
    <small class="error">*{{error.message}}</small>
  {{/each}}

  <label for="projectDescription" class="{{if errors.description 'error'}}">
    Description
    {{textarea id="projectDescription" value=project.description}}
  </label>

  {{#each errors.description as |error|}}
    <small class="error">*{{error.message}}</small>
  {{/each}}

  <button>Save</button>
</form>
