<h1>{{model.name}}</h1>

<p>{{model.description}}</p>

<ul class="button-group">
  <li>
    {{link-to 'Tasks' 'project.tasks' model class='button secondary'}}
  </li>
  <li>
    {{link-to 'Edit' 'project.edit' model class='button secondary'}}
  </li>
</ul>

{{outlet}}
