<div class="project-header">
  <div class="project-title">
    <h1>{{model.name}}</h1>
  </div>

  <div class="project-actions">
    {{#link-to 'project.edit' model}}
      {{material-design-icon name='settings'}}
    {{/link-to}}
  </div>
</div>

<p>{{model.description}}</p>

<ul>
  <li>
    {{link-to 'Tasks' 'project.tasks' model class='btn'}}
  </li>
</ul>

{{outlet}}
