<div class="project-header">
  <div class="project-info">
    <h1 class="project-title">{{model.name}}</h1>
    <p class="project-description">{{model.description}}</p>
  </div>

  <div class="project-actions">
    {{#link-to 'project.edit' model}}
      {{material-design-icon name='settings'}}
    {{/link-to}}
  </div>
</div>

<div class="container">
  <div class="task-list">
    <p>{{link-to 'Add Task' 'project.new-task' model class='btn btn--primary'}}</p>

    <div class="list">
      {{#each model.tasks as |task|}}
        {{link-to task.title 'project.task' model task class='list-item task-list-item'}}
      {{/each}}
    </div>
  </div>

  {{outlet}}
</div>
