<form {{action 'save' project on='submit'}}>
  <div class="row">
    <div class="small-12 columns">
      <label for="projectName" class="{{if errors.name 'error'}}">
        Name
        {{input id="projectName" value=project.name}}
      </label>

      {{#each errors.name as |error|}}
        <small class="error">*{{error.message}}</small>
      {{/each}}
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label for="projectDescription" class="{{if errors.description 'error'}}">
        Description
        {{textarea id="projectDescription" value=project.description}}
      </label>

      {{#each errors.description as |error|}}
        <small class="error">*{{error.message}}</small>
      {{/each}}
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <button>Save</button>
    </div>
  </div>
</form>
